.mainFooter {
    width: 100%;
    background-color: transparent; 
    border-top: 1px solid #e2e8f0;
    padding: 1.5rem 0;
    margin-top: auto; 
}

.containerFooter {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
}

.footer-left p, 
.footer-right .app-version {
    font-size: 0.85rem;
    color: #64748b; 
    font-weight: 500;
}
.footer-left, .footer-right,
.footer-center{
    width: 33%;
}

.footer-right{
    display: flex;
    justify-content: end;
}
.footer-links {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1.5rem;
}

.footer-links a {
    text-decoration: none;
    color: #64748b;
    font-size: 0.85rem;
    font-weight: 500;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: #2563eb;
}